@model WebApplication1.Controllers.MovieController.PagingListAsync<WebApplication1.Models.Movies.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    CancellationToken token = CancellationToken.None;
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data.GetAsyncEnumerator(token).Current.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.GetAsyncEnumerator(token).Current.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.GetAsyncEnumerator(token).Current)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @await foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="text-end">
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Homepage))
                {
                    <a href=@item.Homepage>Link to home page</a>
                }
                else
                {
                    <p>Brak</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<nav aria-label="Books page navigation">
    <ul class="pagination">
        @if (Model.IsPrevious)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Movies"
                   asp-action="Index"
                   asp-route-page="@(Model.Page - 1)"
                   asp-route-size="@Model.Size">
                    Poprzednia
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Poprzednia</a>
            </li>
        }
        <li class="page-item disabled">
            <a class="page-link" >@Model.Page</a>
        </li>
        @if (Model.IsNext)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Movies"
                   asp-action="Index"
                   asp-route-page="@(Model.Page + 1)"
                   asp-route-size="@Model.Size">
                    Następna
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Następna</a>
            </li>
        }
    </ul>
</nav>
